.cardCss{
  max-width: 300px;
  border-color: rgb(79, 133, 248);
  border-style: solid;
  border-width: 5px;
  border-radius: 15px;
  margin: 5px;
  background-color: rgba(171, 171, 246, 0.746);
}

.ch{
  object-fit: cover;
  width: 100%;
}
